<h2>Login</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
    <label>Username</label>
    <input formControlName="username" placeholder="Enter username" />
    <!-- Show Enter valid credentials when empty & attempted submit -->
    <div  class="error">Enter valid credentials</div>
  </div>

  <div>
    <label>Password</label>
    <input type="password" formControlName="password" placeholder="Enter password" />
    <div  class="error">Enter valid credentials</div>
  </div>

  <div  class="error" style="margin-bottom:8px">{{ errorMessage }}</div>

  <button type="submit">Login</button>
  <button type="button" (click)="onCreate()">Create New User</button>
</form>
